<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - CarCareTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">CarCareTracker</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Vehicle" asp-action="Index">Garage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Report" asp-action="Index">Reports</a>
    </li>
    @if (User.HasClaim("IsRootUser", "true"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Settings" asp-action="Index">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Backup" asp-action="Index">Backup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="ReminderEmail" asp-action="Index">Reminder Emails</a>
        </li>
    }
</ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a id="themeToggle" class="nav-link" href="#">Toggle theme</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">My Account</a>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
