version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: carcaretracker:dev
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Development}
      POSTGRES_CONNECTION: ${POSTGRES_CONNECTION:-}
    volumes:
      - ./data:/app/data
    env_file:
      - .env
